<% count = 0 %>
<div id="<%= dom_id friend %>">
  <% if current_user==friend.user%>
    <% count+=1 %>
    <tr>
      <td> <%= count %> </td>
      <td><%= link_to  friend.first_name+" " + friend.last_name, friend %></td>
      <td> <%= friend.email %></td>
      <td> <%= friend.phone %></td>
      <td> <%= friend.twitter %></td>
      <td>
        <%= button_to 'Remove', friend, data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-outline-danger btn-sm" %>
      </td>
    </tr>
  <%end%>
</div>
